/*-- scss:defaults --*/

// Colors
$white: #FFFFFF;
$darkgray: #2C2C2C;
$gray: #949799;
$lightgray: #E5E5E5;
$ocean: #05aabb;
$rust: #bc5441;
$ltcoral: #ffe1df;
$darkgreen: #013220;
$cream: #fcf9f4;
$darkblue: darkblue;
$lavender: lavender;
$darkpurple: #5c00e6

// Base document colors
$navbar-fg: $lavender; // navbar foreground elements
$navbar-hl: $rust; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $darkgray; // page text 
$footer-bg: $lightgray; // footer 
$link-color: $darkblue; // hyperlinks 

// Inline code
$code-bg: $lightgray; // inline code background color
$code-color: $darkgray; // inline code text color

// Code blocks
$code-block-bg: $white; // code block background color

h1 {
  color: $darkgreen;
}

h2 {
  color: $darkblue;
}

h3 {
  color: $darkpurple;
}

h4 {
  color: $darkgray;
}

div.quarto-about-trestles .about-entity .about-link {
    color: #fcf9f4 !important;
    text-decoration: lavender;
    border: darkblue;
    background-color: darkblue;
}


// FONTS  
$font-family-sans-serif: "Georgia" !default;

$headings-font-family: "Georgia" !default;
$headings-font-weight: 500 !default;

$navbar-font-family: "Work Sans" !default;
$toc-font-family: "Work Sans" !default;
$footer-font-family: "Work Sans" !default;

