/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,400&family=Flamenco:wght@300;400&display=swap');

// Colors
$white: #FFFFFF;
$darkgray: #2C2C2C;
$gray: #949799;
$lightgray: #E5E5E5;
$ocean: #05aabb;
$rust: #bc5441;
$ltcoral: #ffe1df;
$raspberry: #872b49;
$cream: #fcf9f4;
$rose: #c27e97;
$darkblue: #00008B;
$darkgreen: #006400;
$lavender: #E6E6FA;



// Base document colors
$navbar-bg: $darkgreen; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $rose; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $darkgray; // page text 
$footer-bg: $lightgray; // footer 
$link-color: $rose; // hyperlinks 

// Inline code
$code-bg: $lightgray; // inline code background color
$code-color: $darkgray; // inline code text color

// Code blocks
$code-block-bg: $white; // code block background color

h1 {
  color: $darkblue;
}

h2 {
  color: $rose;
}

h3 {
  color: $darkblue;
}

div.quarto-about-trestles .about-entity .about-link {
    color: #fcf9f4 !important;
    text-decoration: #00008B;
    border: #00008B;
    background-color: #c27e97;
}


.navbar-title {
  font-family: Bellota;
}

h1.title, .title.h1 {
    font-family: Bellota;
    font-size: 2.0em;
}

.panel-tabset .nav-tabs {
    border-bottom: 5px solid #434343;
}

.panel-tabset .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #00008B;
    background-color: lavender;
    border-color: #00008B #00008B transparent;
}

.panel-tabset .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #00008B #00008B transparent;
    isolation: isolate;
}




.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;

    a {
        color: $darkgray;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }
  // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

        .nav-footer-right {
            text-align: right;
        }
        
         .nav-footer-left {
            text-align: left;
        }


        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
}
